# IDEs
.idea/
.DS_Store
*.swp

# Hugo
resources/
public/*
!public/images/
public/images/*
!public/images/akshay-headshot.jpg
!public/images/lemon-herb-rice.png
.Rproj.user

# Next.js
.next/
node_modules/
out/
